#login-modal-container-container {
    height: fit-content;
    width: 622px;
    background-color: rgba(34, 33, 36, 0.959);
    border-radius: 5px;
    margin: 10px;
    color: white;
}

#backtrack-button {
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}

#login-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

#login-title {
    margin-top: 0;
    font-family: 'Tilt Warp', cursive;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 340px;
}

.login-form>* {
    width: 95%;
}

.hidden,
.hidden * {
    display: none;
}

.login-form-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.login-input-label {
    display: flex;
    width: 90%;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: rgb(128, 128, 128);
    cursor: pointer;
}

.login-input-label * {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.login-input-label:focus-within {
    border: 2px solid rgba(175, 175, 175, 0.651);
}

.login-input-field {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.login-input-field::placeholder {
    color: rgba(187, 187, 187, 0.651);
}

.login-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    margin-top: 40px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.login-form-button:disabled {
    opacity: 0.3;
    cursor: default;
}

i.login-form-arrow-img {
    width: 10px;
    padding-left: 15px;
    color: black;
}

#demo-user-sign-in {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
}

#login-form-errors {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 30px 0px -8% 0px;
    padding: 8px 10px;
    background-color: rgb(255, 60, 0);
    border-radius: 3px;
}

#login-form-errors.hidden {
    display: none;
}

#login-errors-symbol {
    padding-right: 8px;
}

/************************************/
#user-menu-options>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(241, 241, 241);
    height: 36px;
    padding: 0 20px 0 10px;
}

.user-menu-header.user-menu-section button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding-right: 0px;
}

.user-menu-section:not(.user-menu-header) {
    height: 41px;
    cursor: pointer;
}

.user-menu-section-image {
    padding-right: 15px;
}

.user-menu-section.user-menu-header {
    background-color: rgb(54, 54, 54);
}

.user-menu-section.user-menu-header * {
    color: rgb(199, 199, 199);
}

.user-menu-section.user-menu-header.top {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

/********************/
.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.project-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.project-editor-input-fields {
    margin: 10px 10px 10px;

}

.project-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}





.project-editor-footer-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px 15%;
}


.project-editor-footer button {
    border-radius: 5px;
    height: 2em;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 3px;
}

.project-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}



.project-tasks-link {
    text-decoration: none;
}

.project-tasks-link a,
a:visited {
    text-decoration: none;
    /* color: blue; */
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    cursor: col-resize;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container i {
    cursor: pointer;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}
