#login-modal-container-container {
    height: fit-content;
    width: 622px;
    background-color: rgba(34, 33, 36, 0.959);
    border-radius: 5px;
    margin: 10px;
    color: white;
}

#backtrack-button {
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}

#login-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

#login-title {
    margin-top: 0;
    font-family: 'Tilt Warp', cursive;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 340px;
}

.login-form>* {
    width: 95%;
}

.hidden,
.hidden * {
    display: none;
}

.login-form-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.login-input-label {
    display: flex;
    width: 90%;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: rgb(128, 128, 128);
    cursor: pointer;
}

.login-input-label * {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.login-input-label:focus-within {
    border: 2px solid rgba(175, 175, 175, 0.651);
}

.login-input-field {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.login-input-field::placeholder {
    color: rgba(187, 187, 187, 0.651);
}

.login-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    margin-top: 40px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.login-form-button:disabled {
    opacity: 0.3;
    cursor: default;
}

i.login-form-arrow-img {
    width: 10px;
    padding-left: 15px;
    color: black;
}

#demo-user-sign-in {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
}

#login-form-errors {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 30px 0px -8% 0px;
    padding: 8px 10px;
    background-color: rgb(255, 60, 0);
    border-radius: 3px;
}

#login-form-errors.hidden {
    display: none;
}

#login-errors-symbol {
    padding-right: 8px;
}

/************************************/
#user-menu-options>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(241, 241, 241);
    height: 36px;
    padding: 0 20px 0 10px;
}

.user-menu-header.user-menu-section button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding-right: 0px;
}

.user-menu-section:not(.user-menu-header) {
    height: 41px;
    cursor: pointer;
}

.user-menu-section-image {
    padding-right: 15px;
}

.user-menu-section.user-menu-header {
    background-color: rgb(54, 54, 54);
}

.user-menu-section.user-menu-header * {
    color: rgb(199, 199, 199);
}

.user-menu-section.user-menu-header.top {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

/********************/
.project-editor-form {
    background-color: rgb(16, 143, 193);
    border-radius: 5px;
    width: 350px;
    padding: 2px 5px;
    font-size: 16px;

}

.project-editor-form label {
    font-weight: normal;
    margin: 2px 2%;
    background-color: rgb(16, 143, 193);
    color: white;
    font-size: 16px;

}


.project-editor-input-fields {
    margin: 10px 10px 10px;

}

.project-editor-input-fields input {
    width: 91%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
    font-size: 16px;

}





.project-editor-footer-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 5px 15%;
}


.project-editor-footer button {
    border-radius: 5px;
    height: 2em;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 3px;
}

.project-editor-form select {
    font-size: 16px;
    width: 97%;
    margin: 2px 2%;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 8px;
    padding-bottom: 4px;
}



.project-tasks-link {
    text-decoration: none;
}

.project-tasks-link a,
a:visited {
    text-decoration: none;
    /* color: blue; */
}

.resize_handle {
    box-sizing: border-box;
    width: 5px;
    margin-left: -2px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: transparent;
    cursor: col-resize;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
}

.project-title-container i {
    cursor: pointer;
}

.project-title-container h3 {
    display: inline;
}

.project-title-container i {
    margin: 0 2px;
    width: 15px;
    height: 15px;
}


.project-list-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    max-width: 220px;
}

.project-list-project-name {
    word-wrap: break-word;
    max-width: 160px;
}

.project-action-button {
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

.list-items {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.list-items .item {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
}

.checkbox .check-icon {
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

.post-details div.post-comment-section-container:not(.hidden) {
    padding: 0px 15px;
    border-top: 1px solid grey;
}

.post-comment-section-container div.post-stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.post-stats-container div.post-stats {
    display: flex;
    align-items: center;
    padding: 0px;
}

.post-stats>* {
    display: flex;
    align-items: center;
}

.post-details div.post-option-container {
    margin: 0px 15px;
    padding-bottom: 15px;
}

div.post-comment-section-container div.post-options-container {
    padding: 0px;
}

.post-comment-section-container div.post-comments-container {
    padding: 0px;
}

.post-comments-container .post-stats-container {
    border-bottom: 1px solid grey;
}

.post-comment-box {
    width: 400px;
    height: max-content;
}

.edit-post-comment {
    width: 95%;
    height: 115px;
    border: none;
    outline: none;
    margin: none;
    padding: none;
    background-color: inherit;
    resize: none;
    font-size: 16px;
    margin-left: -10px;
    border-top: 1px solid grey;
}


#edit-comment-button-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -15px;
    gap: 5px;
}

.edit-comment-button {
    width: 85px;
    height: 10px;
    color: rgb(255, 255, 255);
    line-height: 0px;
    background: none;
    border: none;
    box-shadow: 0px 0px 1px 1px rgb(78, 77, 77);
    border-radius: 10px;
    margin-bottom: -10px;
    cursor: pointer;
    font-weight: 500;
}

.edit-comment-button:hover:not(:disabled) {
    box-shadow: 0px 0px 1px 1px rgb(99, 97, 97);
}

.edit-comment-button:active {
    box-shadow: 0px 0px 1px 1px rgb(61, 59, 59);
    background-color: rgb(32, 30, 30);
}

.edit-comment-button.update {
    background-color: rgb(22, 189, 255);
    color: rgb(0, 0, 0);
}

.edit-comment-button.cancel {
    background-color: rgb(70, 70, 70);
}

.edit-comment-button:disabled {
    background-color: rgb(70, 70, 70);
    color: grey;
    cursor: default;
}

.post-stats .post-comment-count-container .comment-button,
.post-stats .post-comment-count-container .post-comment-count,
.post-stats .post-like-count-container .like-button,
.post-stats .post-like-count-container .post-like-count {
    padding: 0px;
}

.like-button.liked {
    color: rgb(252, 99, 39);
}

.close-comments-button.show .close-comments-button-image {
    padding-left: 10px;
}

.post-stats .post-comment-count-container .comment-button,
.post-stats .post-like-count-container .like-button {
    padding-right: 10px;
}

.post-stats-container .post-stats .post-comment-count-container,
.post-stats-container .post-stats .post-like-count-container {
    padding: 15px 10px;
}

.post-stats-container .post-stats .post-comment-count-container.viewing * {
    color: rgb(22, 189, 255);
}

.post-stats-container .post-stats .post-comment-count-container.viewing {
    padding: 15px 10px;
    border-bottom: 2px solid rgb(22, 189, 255);
}

.post-stats-container .post-stats .post-comment-count-container:not(.viewing) {
    margin-bottom: 2px;
}

.post-stats-container .post-stats .post-like-count-container.viewing * {
    color: rgb(252, 99, 39);
}

.post-stats-container .post-stats .post-like-count-container.viewing {
    padding: 15px 10px;
    border-bottom: 2px solid rgb(252, 99, 39);
}

.post-stats-container .post-stats .post-like-count-container:not(.viewing) {
    margin-bottom: 2px;
}

.hidden {
    display: none;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* Post a comment bar here */
div.make-comment-container.false {
    display: flex;
    align-items: center;
    padding: 15px 0px 10px 0px;
}

div.make-comment-container.false .current-user-image-container {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

div.make-comment-container.false img.current-user-image {
    height: 32px;
    width: 32px;
    padding: 0px;
    border-radius: 16px;
}

div.make-comment-container.false form.type-comment-box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.type-comment-box-container {
    border: 1px solid grey;
    border-radius: 20px;
    min-height: 42px;
    height: max-content;
    width: 100%;
}

.type-comment-box-container textarea.type-comment-box,
.type-comment-box-container textarea.type-comment-box:focus {
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 18px;
    max-height: 150px;
    line-height: 20px;
}

.submit-comment-button {
    background: none;
    border: none;
    font-weight: bold;
}

.submit-comment-button:not(:disabled) {
    color: rgb(22, 189, 255);
}

/* Comments here */
.post-comments-container div.comments-container {
    margin: 0px;
    padding: 0px;
    height: 540px;
    overflow-x: auto;
}

.post-comment-container div.post-commenter-information-container {
    display: flex;
    padding: 0px;
}

.post-comments-container div.post-comment-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.post-comment-container img.post-commenter-image {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin-right: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.post-comment-container .post-comment-box {
    border: 1px solid rgb(68, 68, 68);
    border-radius: 10px;
    padding: 10px;
}

.post-comment-container div.post-comment-box {
    padding: 8px 12px;
}

.post-commenter-p {
    margin: 0px;
}

.post-commenter-p2 {
    margin: 0px;
    font-size: 14px;
}

.post-commenter-username {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
}

.post-comment-box .post-commenter-username {
    padding: 0px;
    cursor: pointer;
}

.post-comment-box div.post-commenter-username {
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
}

.post-comment-box div.post-comment {
    padding: 5px 0px;
    font-size: 16px;
    overflow-wrap: break-word;
    height: max-content;
}

.post-comments-container div.likes-container {
    padding: 0px 0px 20px 0px;
    height: 540px;
    width: 100%;
    overflow-y: auto;
}

div.likes-container div.user-like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 10px 0px;
}

.post-comments-container .comments-container.hidden.empty,
.post-comments-container .comments-container.hidden.empty *,
.post-comments-container .likes-container.hidden.empty,
.post-comments-container .likes-container.hidden.empty * {
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.post-comments-container .comments-container.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-comments-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-comments-message-icon,
.no-comments-message {
    color: rgb(155, 155, 155);
}

.no-comments-message {
    font-weight: bold;
}

.post-comments-container div.likes-container.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-likes-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-likes-message-icon,
.no-likes-message {
    color: rgb(155, 155, 155);
}

.no-likes-message {
    font-weight: bold;
}

.forbidden {
    cursor: not-allowed !important;
}

#logout-modal-container {
    text-align: center;
}

#logout-modal-div {
    display: flex;
    flex-direction: column;
}

#logout-modal-h2 {
    color: white;
    margin-bottom: 40px;
}

#logout-modal-button-div {
    display: flex;
    justify-content: center;
}

#logout-modal-button-div div {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

#cancel-logout-modal-button {
    background-color: rgb(146, 146, 146);
}

#confirm-logout-modal-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}
