/* For index.js */
#takes-up-space {
  height: 80px;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

body {
  background-color: black;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  background-color: black;
  border-bottom: 1px solid rgb(36, 36, 36);
  z-index: 100;
}

#navbar-left {
  display: flex;
  align-items: center;
  padding-left: 110px;
}

#logo {
  font-family: 'Tilt Warp', cursive;
  font-weight: bold;
  font-size: 45px;
  padding: 0px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

#searchbar-container {
  display: flex;
  align-items: center;
  position: relative;
}

#searchbar-container:focus-within > * {
  background-color: rgb(37, 37, 37);
}

#search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(180, 180, 180);
  background-color: rgb(59, 59, 59);
  height: 35px;
  width: 34px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

#searchbar {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 435px;
  height: 25px;
  background-color: rgb(59, 59, 59);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: rgb(202, 202, 202);
}

#searchbar::placeholder {
  font-weight: 600;
  color: rgb(180, 180, 180);
}

#searchbar-options {
  position: absolute;
  top: 32px;
  background-color: rgb(77, 77, 77);
  width: 479px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#searchbar-options.hidden {
  display: none;
}

.searchbar-option {
  margin: 0px;
  width: 457px;
  cursor: pointer;
  padding: 8px 0px;
  font-size: 13px;
  padding: 11px;
  background-color: rgb(37, 37, 37) !important;
}

.searchbar-option.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchbar-option:hover {
  background-color: rgb(51, 51, 51) !important;
}

#navbar-right-logged-out {
  display: flex;
  align-items: center;
  padding-right: 130px;
}

#session-options * {
  background: none;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}

#session-options *:first-child {
  background-color: rgb(25, 218, 25);
  color: black;
  cursor: pointer;
  font-size: 15px;
}

#session-options *:last-child {
  background-color: rgb(31, 191, 240);
  color: black;
  cursor: pointer;
  font-size: 15px;

}

/* For ProfileButton.js */
#navbar-right-logged-in {
  display: flex;
  align-items: center;
}

#user-menu-button {
  cursor: pointer;
  color: rgb(168, 168, 168);
  background: none;
  border: none;
}

#user-menu-button:focus {
  color: white
}

#user-menu-options {
  position: absolute;
  top: 50px;
  right: 105px;
  background-color: rgb(36, 36, 36);
  width: 233px;
  border-radius: 5px;
  font-size: 15px;
}

#user-menu-options>* {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(241, 241, 241);
  height: 36px;
  padding: 0 20px 0 10px;
}

.user-menu-header.user-menu-section button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding-right: 0px;
}

.user-menu-section:not(.user-menu-header) {
  height: 41px;
}

.user-menu-section-image {
  padding-right: 15px;
}

.user-menu-section.user-menu-header {
  background-color: rgb(54, 54, 54);
}

.user-menu-section.user-menu-header * {
  color: rgb(199, 199, 199);
}

.user-menu-section.user-menu-header.top {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

#new-blog-button {
  cursor: pointer;
}

#user-information-section {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  height: fit-content;
}

#user-profile-picture {
  border-radius: 3px;
  width: 37px;
  margin-right: 10px;
}

#nav-post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 189, 255);
  border-radius: 2px;
  margin-left: 30px;
  padding: 0px;
  cursor: pointer;
}

#nav-post-button * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(22, 189, 255);
  border: none;
  padding: 0px;
  height: 32px;
  width: 47px;
  border-radius: 3px;
}

.user-menu-section.user-menu-modals a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-menu-section.user-menu-modals * {
  padding: 0px 0px 0px 5px;
  font-size: 14px;
}

.user-menu-section.user-menu-modals button {
  background-color: rgb(36, 36, 36);
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}


.user-follow-image {
  width: 32px;
  height: 32px;
  padding: 0px;
  margin-right: 10px;
  border-radius: 2px;
}

#user-menu-options .user-menu-section.user-menu-modals {
  width: 100%;
  padding: 0px;
}

#user-menu-options .user-menu-section.user-menu-modals:hover,
#user-menu-options .user-menu-section.user-menu-modals:hover button {
  background-color: rgb(87, 87, 87);
}

.user-menu-liked-posts {
  text-decoration: none;
  padding: 1px 6px;
}

.post-details.post-details-user-menu {
  display: flex;
}

.post-details.post-details-user-menu .post-user {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.post-user-follower {
  display: flex;
  justify-content: space-between;
}

.post-user-follower .user-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-post-button * {
  cursor: pointer;
}

.user-menu-liked-posts {
  width: 100%;
}
