* {
    font-family: 'Roboto', sans-serif;
}

#sign-up-modal-container-container {
    height: fit-content;
    width: 622px;
    background-color: rgba(34, 33, 36, 0.959);
    border-radius: 5px;
    margin: 0px;
    padding-bottom: 20px;
    color: white;
}

#backtrack-button {
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}

#sign-up-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 30px 10px;
}

#sign-up-title {
    margin-top: 0;
    font-family: 'Tilt Warp', cursive;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 340px;
}

.sign-up-form > * {
    width: 95%;
}

.hidden,
.hidden * {
    display: none;
}

.sign-up-form-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 15px 0;
}

.sign-up-form-text-container {
    margin: 0px 0px 15px 0px;
}

.sign-up-form-text-container *.sign-up-form-text {
    margin: 4px;
}

.sign-up-input-label {
    display: flex;
    width: 90%;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: rgb(128, 128, 128);
}

.sign-up-input-label * {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.sign-up-password,
.sign-up-names {
    margin-top: 10px;
}

.sign-up-input-label:focus-within {
    border: 2px solid rgba(175, 175, 175, 0.651);
}

.sign-up-input-field {
    background-color: rgba(159, 132, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-up-input-field::placeholder {
    color: rgba(187, 187, 187, 0.651);
}

.sign-up-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    margin-top: 40px;
    padding: 15px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.sign-up-form-button:disabled {
    opacity: 0.3;
    cursor: default;
}

i.sign-up-form-arrow-img {
    width: 10px;
    padding-left: 20px;
    color: black;
}

#demo-user-sign-in {
    text-decoration: underline;
    cursor: pointer;
}

#sign-up-blog-name {
    display: flex;
    align-items: center;
}

#sign-up-form-at {
    color: rgba(187, 187, 187, 0.651);
    padding-right: 10px;
    width: 15px;
}

#sign-up-form-errors {
    position: absolute;
    bottom: -55px;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 8px 10px;
    background-color: rgb(255, 60, 0);
    border-radius: 3px;
}

#sign-up-form-errors.hidden {
    display: none;
}

#sign-up-errors-symbol {
    padding-right: 8px;
}
