/* #modal-content {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
} */

#delete-modal-prompt {
    text-align: center;
}

#delete-modal-buttons-container {
    display: flex;
    justify-content: center;
}

#cancel-delete-post-button,
#delete-post-button {
    color: black;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 500;
    cursor: pointer;
}

#cancel-delete-post-button {
    background-color: rgb(146, 146, 146);
}

#delete-post-button {
    background-color: rgb(22, 189, 255);
    margin-left: 28px;
}
