* {
    font-family: 'Roboto', sans-serif;
}

.input {
    height: fit-content;
    color: black;
    outline: none;
}

#create-title {
    margin-top: 0;
    border: none;
    font-family: 'Tilt Warp', cursive;
}

#remove-image-button {
    position: absolute;
    top: 140px;
    right: 25px;
    background-color: rgb(252, 46, 39);
    color: rgb(36, 36, 36);
    padding: 5px 7px;
    border-radius: 20px;
    cursor: pointer;
}

.create-form-text {
    padding: 18px 15px 15px 26px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid grey;
}

#show-img {
    height: 300px;
    width: 100%;
}

#createForm {
    height: auto;
    display: flex;
    flex-flow: column;
    width: 622px;
    background-color: rgb(40, 40, 40);
    border: none;
    margin: 10px;
    border-radius: 3px;
}

#create-post-img-button {
    width: 80px;
    border: none;
    background: none;
    border-radius: 20px;
    margin: 0px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 15px;
    background-color: rgb(22, 189, 255);
    color: rgb(32, 32, 32);
}

#create-post-img-button:disabled {
    cursor: default;
    background-color: rgb(56, 56, 56);
    color: rgb(99, 99, 99);
}

#loading-text {
    margin-left: 26px;
}

.create-form-text-container *.create-form-text {
    margin: 4px;
    border: none;
}

.create-post-text {
    display: flex;
    outline: none;
    flex-flow: nowrap;
    width: 580px;
    height: 12em;
    padding: 25px 10px 10px 10px;
    margin: 0px 16px;
    font-size: large;
    resize: none;
    box-sizing: border-box;
    border: none;
    background-color: rgba(159, 132, 255, 0);
}

#post-upload-img-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 1px solid black;
    width: fit-content;
    padding: 2px;
    margin-bottom: -5px;
    border-radius: 10px;
    cursor: pointer;
}
#post-image-option-icon-photo {
    color: red;
    margin-left: 21px;
    width: 5px;
    height: 5px;
}

#post-upload-img-text {
    font-size: 12px;
}

.create-input-label {
    display: flex;
    height: min-content;
    width: 95%;
    margin: 0px 0px 0px 1em;
    border: none;
}

.create-input-label * {
    width: 100%;
    height: 100%;
    color: rgb(250, 248, 248);
    font-size: 28px;
    border: none;
    padding: 10px;
    background-color: rgba(159, 132, 255, 0);
}

#PostTitle {
    font-size: 25px;
    font-weight: 500;
}

.create-post-button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(54, 52, 52)
}

.create-post-button-div button {
    background: none;
    border: none;
    border-radius: 20px;
    margin: 1em 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 15px;
}

button.create-form-cancel-button {
    background-color: rgb(61, 59, 59);
    color: rgb(175, 175, 175);
}

button.create-form-submit-button {
    background-color: rgb(22, 189, 255);
    color: rgb(32, 32, 32);
}

button.create-form-submit-button:disabled {
    cursor: default;
    background-color: rgb(56, 56, 56);
    color: rgb(99, 99, 99);
}

#upload-image-container {
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

#upload-img-input {
    width: 100%;
    height: 200px;
    padding: 16px 10px;
    cursor: pointer;
    text-indent: 16px;
    background-color: rgb(54, 54, 54);
    border: 2px dashed rgb(85, 85, 85);
}

#create-post-profile-picture {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 3px;
    left: -65px;
}

::file-selector-button {
    display: none;
}
