.post-comments-container div.user-like-info {
    display: flex;
    align-items: center;
    padding: 0px;
}

div.user-like-info .post-like-user-image {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    padding: 0px;
    cursor: pointer;
}

.user-like-info {
    border: 1px solid rgb(87, 87, 87);
    width: 100%;
    border-radius: 30px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-like-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
}

div.user-like-info .post-like-user-username {
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.post-comments-container div.follow-button,
.post-comments-container div.unfollow-button {
    color: rgb(22, 189, 255);
    padding: 0px;
}

.post-comments-container div.follow-button:hover,
.post-comments-container div.unfollow-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
